.categoryheaders {
    border: 1px solid lightgreen;
    background-color: black; /* Ensures full opacity */
    border-style: dotted;
    text-align: center;
    font-size: clamp(1dvw, 3rem, 5dvw);
    color: lightgreen;
    width: auto;
    padding: 2dvw;
    margin-left: 3dvw;
    margin-right: 3dvw;
    margin-bottom: 1dvw;
    position: relative; /* Ensure it's above background */
    z-index: 10; /* Higher than the background */
    cursor: pointer; /* Indicate it's clickable */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.categoryheaders:hover {
    background-color: lightgreen; /* Change background color */
    color: black; /* Change text color */
    border-color: black; /* Optional: Change border color */
}

body {
    background-color: black;
}

.bgimg {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./matrixwave.webp");
    opacity: 0.2;
}

h1 {
    text-align: center;
    font-size: clamp(1dvw, 10rem, 7dvw);
    color: lightgreen;
    width: auto;
    padding: 2dvw;
    margin-left: 1dvw;
    margin-right: 1dvw;
    margin-bottom: 1dvw;
}

.introduction {
    text-align: justify;
    font-size: min(5dvw, 2dvw);
    color: lightgreen;
    width: auto;
    padding: 2dvw;
    margin-left: 1.5dvw;
    margin-right: 1.5dvw;
    margin-bottom: 1dvw;
    margin-top: -2dvw;
}

.category-content {
    display: none; /* Initially hidden */
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.parent-content {
    border: 1px solid lightgreen;
    border-radius: 1dvw;
    text-align: justify;
    font-size: min(5dvw, 2dvw);
    color: lightgreen;
    width: auto;
    padding: 1dvw;
    margin-left: 3dvw;
    margin-right: 3dvw;
    margin-bottom: 1.5dvw;
    margin-top: 0.5dvw;
}

.child-content-description {
    border: 1px solid white;
    display: inline-flex;
    border-radius: 1dvw;
    padding: 1.5dvw;
    width: auto;
}

.child-child-content-description {
    border: 1px solid white;
    display: block;
    border-radius: 1dvw;
    padding: 1.5dvw;
    margin-top: -5dvw;
    margin-bottom: -2dvw;
    width: auto;
}

.child-content-date {
    border: 1px solid white;
    display: inline-flex;
    border-radius: 1dvw;
    padding: 1.5dvw;
    float: right
}